%h1 R&eacute;sum&eacute;

%h2 Lyndon Maydwell

%p
  This page provides an interface to the information you require about
  %strong me:

%ul
  %li
    A
    = k "programmer"
    for
    = k "Curtin"
    University of Technology

  %li
    An amateur
    = k "cellist"

  %li
    A computer-science student

%p
  You can
  = k "browse"
  the site to find the information you are after, or you can
  = k "search"
  for it.

%p.lipsum#lipsum_nw
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra laoreet dolor, vitae pretium ipsum tempus at. Vestibulum id justo ac diam pharetra ornare. Integer tincidunt tellus cursus nisi consequat ac dignissim nisl dignissim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam lacinia ligula in nulla condimentum suscipit. Vivamus eu elit et leo molestie molestie. Vestibulum vitae enim sed sapien faucibus scelerisque non a mauris. Cras porttitor ante sed nisl accumsan at dictum dolor sodales. Donec egestas fermentum velit, id auctor urna iaculis at. Quisque vulputate aliquam eros non pulvinar. Integer tempus nisi at leo vehicula hendrerit. Mauris condimentum urna id augue rhoncus at viverra sapien luctus. Aenean elementum augue eget purus luctus a posuere dui cursus. Maecenas aliquam rhoncus vulputate. Nunc congue, erat nec condimentum commodo, tortor arcu adipiscing mi, vel laoreet ipsum purus at diam. Donec in erat ut tellus porta fermentum.

%p.lipsum#lipsum_ne
  Integer purus nisl, molestie vel pulvinar at, aliquam nec tellus. Pellentesque accumsan vehicula mattis. Curabitur tempor sollicitudin odio vitae iaculis. Vestibulum ullamcorper faucibus diam nec fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce vitae enim odio. Nulla in leo sed erat cursus sagittis. Morbi dignissim nisl a ligula pharetra cursus. Nulla in felis ut neque adipiscing ultrices. Sed at enim nec libero vestibulum sagittis. Donec ullamcorper, tortor a suscipit eleifend, mauris lectus porttitor risus, quis ornare purus sem quis erat. Proin laoreet venenatis magna, eu tincidunt eros vulputate ac. Nam lobortis, velit ut mattis tempus, magna nunc porta elit, eget euismod turpis justo nec libero. Pellentesque neque enim, condimentum non fringilla at, varius vitae lectus. Maecenas rutrum magna sed augue eleifend vel iaculis urna euismod. Praesent suscipit, eros vitae mollis porttitor, felis nisi placerat quam, sed egestas tortor urna eu ante. Nam non eros eu eros auctor posuere sodales non arcu.

%p.lipsum#lipsum_sw
  Morbi suscipit laoreet lobortis. Phasellus vel sem justo. Nullam dui metus, luctus at dapibus ut, faucibus sit amet odio. In nunc tortor, volutpat ac dignissim eget, fermentum et arcu. Nulla elit lorem, vehicula sit amet commodo feugiat, commodo sit amet mauris. Morbi sit amet arcu ac risus elementum interdum. Etiam egestas mauris ac orci sagittis ultricies. Cras fringilla orci eu erat tincidunt adipiscing. Nam sit amet dolor ante, vitae iaculis justo. Sed justo magna, euismod nec malesuada non, porta et velit. Aenean vitae mauris sed mi blandit vulputate. Cras ultricies ligula ut felis rutrum aliquam. Maecenas mattis condimentum viverra. Mauris eget mattis dui. Aliquam elementum magna sapien, nec mattis mauris.

%p.lipsum#lipsum_se
  Duis faucibus massa sit amet purus blandit eget scelerisque lorem pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque purus diam, lacinia id ornare a, facilisis sed sem. Morbi vel lacus lorem, in volutpat lectus. Morbi in mauris tellus, in aliquam nulla. Vivamus sed magna enim, at rhoncus lacus. Mauris blandit aliquet nisl, pretium facilisis erat viverra consequat. Integer ornare dignissim nibh non ullamcorper. Mauris ut pharetra est. Nullam at sapien sed neque ornare facilisis. Etiam in dolor orci. Praesent eget diam mauris, nec tempus libero. Morbi sit amet leo lorem. Proin velit sem, commodo a lobortis id, rhoncus vitae massa. Sed vitae erat tortor, id volutpat velit.

