%h1 R&eacute;sum&eacute;

%h2 Lyndon Maydwell

%p
  This page provides an interface to the information you require about
  = k "myself"
  %span.inline.code
    \&gt;&gt;=

%ul
  %li
    = k "Programmer"
    for
    = k "Curtin"
    University of Technology

  %li
    = k "Web"
    developer

  %li
    Amateur
    = k "cellist"

  %li
    =k "Computer-science"
    student

  %li
    = k "Engineering"
    student

  %li
    Pursuer of various other
    = k "interests"

%p
  You can
  = k "browse"
  the site to find the information you are after.

%p
  = k "Searching"
  is also an option.

%p
  You can
  = k "download"
  my r&eacute;sum&eacute; as a pdf.
