%h1 R&eacute;sum&eacute;

%h2 Lyndon Maydwell

%p
  This page provides an interface to the information you require about
  %strong me:

%ul
  %li
    A
    = k "programmer"
    for
    = k "Curtin"
    University of Technology

  %li
    A
    = k "web"
    developer.

  %li
    An amateur
    = k "cellist"

  %li
    A
    =k "computer-science"
    student

  %li
    An
    = k "engineering"
    student

%p
  You can
  = k "browse"
  the site to find the information you are after.

%p
  = k "Searching"
  is also an option.

%p
  You can
  = k "download"
  my r&eacute;sum&eacute; as a pdf.
